<!DOCTYPE HTML>
<html>
<head>
    <link rel = "stylesheet" href = "~/css/main.css" asp-append-version="true"/>
    <title>@ViewBag.Title - Backend2</title>
</head>
<body>
<header>
    <h2>Backend2</h2>
    <nav><a asp-controller="Calc" asp-action="Index">Home</a></nav>
</header>
<main>
    @RenderBody()
</main>
<footer>
    <hr/>
    © 2018 - Backend2
</footer>
</body>
</html>
